<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="PhpBuiltInWebServerConfigurationType" factoryName="PHP Built-in Web Server" document_root="$PROJECT_DIR$/src" host="0.0.0.0" router_script="$PROJECT_DIR$/src/router.php" use_router_script="true">
    <method v="2" />
  </configuration>
</component>